In [11]:
"Hey there"
"Hii world jfhigoj"

'Hii world jfhigoj'

In [12]:
#Importing libraries and tools
import pandas as pd
import numpy as np

In [13]:
#Reading the csv data
covid_data= pd.read_csv('owid-covid-data.csv')

In [14]:
covid_data.head(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [15]:
covid_data.tail(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
166321,ZWE,Africa,Zimbabwe,2022-03-01,236871.0,491.0,413.000,5395.0,0.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166322,ZWE,Africa,Zimbabwe,2022-03-02,237503.0,632.0,416.286,5396.0,1.0,1.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166323,ZWE,Africa,Zimbabwe,2022-03-03,237503.0,0.0,362.286,5396.0,0.0,0.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166324,ZWE,Africa,Zimbabwe,2022-03-04,238739.0,1236.0,467.429,5397.0,1.0,0.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
166325,ZWE,Africa,Zimbabwe,2022-03-05,239019.0,280.0,459.429,5397.0,0.0,0.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [16]:
#Cleaning the dataset
#checking duplicates: None appear
covid_data.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
166321    False
166322    False
166323    False
166324    False
166325    False
Length: 166326, dtype: bool

In [17]:
covid_data.info() #Data consists of float64 and object data types, there are unequal counts of the majority of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166326 entries, 0 to 166325
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    166326 non-null  object
 1   continent                                   156370 non-null  object
 2   location                                    166326 non-null  object
 3   date                                        166326 non-null  object
 4   total_cases                                 163293 non-null  float64
 5   new_cases                                   163133 non-null  float64
 6   new_cases_smoothed                          161150 non-null  float64
 7   total_deaths                                145451 non-null  float64
 8   new_deaths                                  145487 non-null  float64
 9   new_deaths_smoothed                         143390 non-null  float64
 10  total_cases_per_million                     162535 non-null  float64
 11  new_cases_per_million                       162375 non-null  float64
 12  new_cases_smoothed_per_million              160398 non-null  float64
 13  total_deaths_per_million                    144706 non-null  float64
 14  new_deaths_per_million                      144742 non-null  float64
 15  new_deaths_smoothed_per_million             142651 non-null  float64
 16  reproduction_rate                           125820 non-null  float64
 17  icu_patients                                23463 non-null   float64
 18  icu_patients_per_million                    23463 non-null   float64
 19  hosp_patients                               24617 non-null   float64
 20  hosp_patients_per_million                   24617 non-null   float64
 21  weekly_icu_admissions                       5433 non-null    float64
 22  weekly_icu_admissions_per_million           5433 non-null    float64
 23  weekly_hosp_admissions                      10923 non-null   float64
 24  weekly_hosp_admissions_per_million          10923 non-null   float64
 25  new_tests                                   67317 non-null   float64
 26  total_tests                                 69255 non-null   float64
 27  total_tests_per_thousand                    69255 non-null   float64
 28  new_tests_per_thousand                      67317 non-null   float64
 29  new_tests_smoothed                          84035 non-null   float64
 30  new_tests_smoothed_per_thousand             84035 non-null   float64
 31  positive_rate                               78655 non-null   float64
 32  tests_per_case                              78084 non-null   float64
 33  tests_units                                 86386 non-null   object
 34  total_vaccinations                          45194 non-null   float64
 35  people_vaccinated                           42987 non-null   float64
 36  people_fully_vaccinated                     40241 non-null   float64
 37  total_boosters                              17539 non-null   float64
 38  new_vaccinations                            37447 non-null   float64
 39  new_vaccinations_smoothed                   84398 non-null   float64
 40  total_vaccinations_per_hundred              45194 non-null   float64
 41  people_vaccinated_per_hundred               42987 non-null   float64
 42  people_fully_vaccinated_per_hundred         40241 non-null   float64
 43  total_boosters_per_hundred                  17539 non-null   float64
 44  new_vaccinations_smoothed_per_million       84398 non-null   float64
 45  new_people_vaccinated_smoothed              83088 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  83088 non-null   float64
 47  stringency_index                            130072 non-null  float64
 48  population                                  165251 non-null  float64
 49  population_density                          147928 non-null  float64
 50  median_age                                  137831 non-null  float64
 51  aged_65_older                               136337 non-null  float64
 52  aged_70_older                               137092 non-null  float64
 53  gdp_per_capita                              138504 non-null  float64
 54  extreme_poverty                             91215 non-null   float64
 55  cardiovasc_death_rate                       136778 non-null  float64
 56  diabetes_prevalence                         143949 non-null  float64
 57  female_smokers                              106050 non-null  float64
 58  male_smokers                                104595 non-null  float64
 59  handwashing_facilities                      68569 non-null   float64
 60  hospital_beds_per_thousand                  123664 non-null  float64
 61  life_expectancy                             155268 non-null  float64
 62  human_development_index                     136253 non-null  float64
 63  excess_mortality_cumulative_absolute        5696 non-null    float64
 64  excess_mortality_cumulative                 5696 non-null    float64
 65  excess_mortality                            5696 non-null    float64
 66  excess_mortality_cumulative_per_million     5696 non-null    float64
dtypes: float64(62), object(5)
memory usage: 85.0+ MB

In [18]:
#Identifying categorical and numeric columns
categ_col = [col for col in covid_data.columns if covid_data[col].dtype == 'object']

num_col = [col for col in covid_data.columns if covid_data[col].dtype != 'object']

In [26]:
# Number of unique values in covid_data's categorical columns
unique_catg_vals = covid_data[categ_col].nunique()

iso_code       238
continent        6
location       238
date           795
tests_units      4
dtype: int64

In [27]:
# Number of unique values in covid_data's numeric columns
unique_num_vals = covid_data[num_col].nunique()

total_cases                                90013
new_cases                                  21873
new_cases_smoothed                         39980
total_deaths                               35519
new_deaths                                  4488
                                           ...
human_development_index                      154
excess_mortality_cumulative_absolute        5542
excess_mortality_cumulative                 3061
excess_mortality                            3768
excess_mortality_cumulative_per_million     5671
Length: 62, dtype: int64

In [43]:
#Counting % missing data per column for their corresponding rows
percent_missing_data = round((covid_data.isnull().sum()/covid_data.shape[0])*100,2)

#Below are the top 15 columns missing highest % of data
top_cols_missing_data = percent_missing_data.nlargest(15)
print(top_cols_missing_data)

weekly_icu_admissions                      96.73
weekly_icu_admissions_per_million          96.73
excess_mortality_cumulative_absolute       96.58
excess_mortality_cumulative                96.58
excess_mortality                           96.58
excess_mortality_cumulative_per_million    96.58
weekly_hosp_admissions                     93.43
weekly_hosp_admissions_per_million         93.43
total_boosters                             89.46
total_boosters_per_hundred                 89.46
icu_patients                               85.89
icu_patients_per_million                   85.89
hosp_patients                              85.20
hosp_patients_per_million                  85.20
new_vaccinations                           77.49
dtype: float64

In [46]:
# 1. The columns from weekly_icu_admissions to weekly_hosp_admissions_per_million have the highest % of missing data by 5% compared to the rows further below
# 2. These columns are mostly absent of data, so they will be dropped
# 3. Dropping the columns below
data_drop = covid_data.drop(columns=['weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative', 'excess_mortality','excess_mortality_cumulative_per_million', 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million'])

In [50]:
# Viewing the updated shape of covid_data dataset
covid_data_shape = covid_data.shape
print(covid_data_shape)

(166326, 67)